</div>
<div class="footer-padding"></div>
<div class="footer">
    <p>@Copyright Golden Shoe,
        <b>
            <% const fullYear = new Date();
               const date = fullYear.getFullYear()   %>
            <%= date %>
        </b></p>
</div>
</div>

</body>

</html>