<!-- <%- include('./partials/header'); %>
<head>
    <title>Home Page</title>
    <!-- <link rel='stylesheet' type='text/css' href='public/styles.css'> -->
     
    <script src='public/jquery.js'></script>
   
</head>
 
    <div class='header'>
        <div class='navigation'>
            <div class='navLink'>
                <a href='home'>Home</a>
            </div>
            <div class='navLink'>
                <a href='products'>Products</a>
            </div>
            <div class='navLink'>
                <a href='shop'>View Range</a>
            </div>

            <div class='navLink'>
                <a href='contact'>Contact</a>
            </div>
        </div>
    </div>

    <div class="midSection">
        <div class="centerImages">

            <div class="img">
                <a href="products"><img src="public/seafoam.jpg"></a>

            </div>
            <div class="img">
                <a href="products"><img src="../public/periwinkle.jpg"></a>
            </div>
        </div>
    </div>

    <h1 style="align-content:center">- Featured Picks -</h1>

    <div class="bottomSection">
        <div class="featuredPicks">

        </div>
    </div>


    <h1 class="twitter">
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </h1>
    <br>
<h1 class="instgram">
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
</h1>
    <div class="sell">
        <h2>Like our products?</h2>
    </div>
    <div class="emailInput">
        <form action="" method="#">
            <input type="email" placeholder="E-Mail" name="email">
            <button type="submit">Subscribe</button>
        </form>
    </div>
    <p class="standardText">Subscribe to our e-mail list to get free e-coupons offering discounts every once in a while!</p>
<%- include('./partials/footer'); %> -->